# Ignore terraform generated configurations files
.terraform
# terraform plan output file
plan.tfout
# Local terraform state
*tfstate*
# Ignore any tfvars files since they should only be used for sensitive data
# All files *.auto.tfvars will be read authomatically withouth the use of -var-file
# In this repo tfvars are still tracked only to offer an example
# *.tfvars
